@charset "utf-8";
@layer ribbons {

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Ribbons
# Mobile Styles

/*--------------------------------------------------------------
# Ribbons
--------------------------------------------------------------*/
.ribbon,
.slant-edge,
.forked-edge {
	position:                                                  relative;
	padding:                                                   5px 10px;
	background:                                                var(--dark-grey);
	border:                                                    2px solid var(--black);
	color:                                                     var(--white);
	width:                                                     calc(100% + 88px);
    margin-left:                                            -44px;
	margin-bottom:                                             var(--measure-small);
}

.ribbon:before,
.ribbon:after,
.slant-edge:before,
.slant-edge:after,
.forked-edge:before,
.forked-edge:after {
	content:                                                   "";
	height:                                                    0;
	width:                                                     0;
	display:                                                   block;
	position:                                                  absolute;
	border-top:                                                15px solid var(--black);
	bottom:                                                    -16px;
}

.ribbon:before {
	border-left:                                               15px solid transparent !important;
	left:                                                      -2px;
}

.ribbon:after {
	right:                                                     -2px;
	border-right:                                              15px solid transparent !important;
}

.slant-edge:before,
.slant-edge:after {
	border-top:                                                50px solid var(--black);
	bottom:                                                    0;
}

.slant-edge:before {
	border-left:                                               50px solid transparent;
	left:                                                      -50px;
}

.slant-edge:after {
	right:                                                     -50px;
	border-right:                                              50px solid transparent;
}

.forked-edge:before,
.forked-edge:after {
	 bottom:                                                   -var(--measure-small);
	 border:                                                   var(--measure-base) solid var(--black);
	 z-index:                                                  -1;
}

.forked-edge:before {
	 left:                                                     -2em;
	 border-right-width:                                       var(--measure-base);
	 border-left-color:                                        transparent;
}

.forked-edge:after {
	 right:                                                    -2em;
	 border-left-width:                                        var(--measure-base);
	 border-right-color:                                       transparent;
}

.forked-edge > div:before,
.forked-edge > div:after {
	 content:                                                  "";
	 position:                                                 absolute;
	 display:                                                  block;
	 border-style:                                             solid;
	 border-color:                                             var(--black) transparent transparent transparent;
	 bottom:                                                   -var(--measure-small);
}

.forked-edge > div:before {
	 left:                                                     0;
	 border-width:                                             var(--measure-small) 0 0 var(--measure-small);
}

.forked-edge > div:after {
	 right:                                                    0;
	 border-width:                                             var(--measure-small) var(--measure-small) 0 0;
}


/*--------------------------------------------------------------
# Mobile Styles
--------------------------------------------------------------*/

/* 3: Small Tablets (landscape) */
@media (max-width: 1024px) {
	.ribbon {
		width:                                                    calc(100% + 80px);
		margin-left:                                              -40px;
	}
}

/* 2: Phones (landscape) + Tablets (portrait) */
@media (max-width: 860px) {
	.ribbon {
		width:                                                    calc(100% + 64px);
		margin-left:                                              -32px;
	}
}

}