@charset "utf-8";
@layer fancy {

/* Fancy Buttons
--------------------------------------------- */

a.button[class*="fancy"] .fancy-text,
a.button[class*="fancy"] .fancy-icon,
a.button[class*="fancy"]:hover .fancy-text,
a.button[class*="fancy"]:hover .fancy-icon,
a.button[class*="item-"] .fancy-text,
a.button[class*="item-"] .fancy-icon,
a.button[class*="item-"]:hover .fancy-text,
a.button[class*="item-"]:hover .fancy-icon {
	position:                                                  relative;
	display:                                                   inline-block;
	padding:                                                   0;
	transition:                                                all var(--main-trans-speed) var(--main-trans-easing);
}

a.button.fancy .fancy-icon .icon::after,
a.button[class*="item-"] .fancy-icon .icon::after {
	font-size:                                                 80%;
}

a.button.fancy .fancy-text {
	padding-left:                                              10px;
	padding-right:                                             10px;
}

a.button.fancy:hover .fancy-text {
	padding-left:                                              1px;
	padding-right:                                             19px;
}

a.button.fancy .fancy-icon {
	width:                                                     0;
	transform:                                                 translateX(-15px);
	opacity:                                                   0;
}

a.button.fancy:hover .fancy-icon {
	width:                                                     0;
	transform:                                                 translateX(-9px);
	opacity:                                                   1;
}

a.button.fancy-2,
a.button.fancy-2:hover,
a.button.fancy-2.tab-focus,
a.button.fancy-2:visited,
a.button.fancy-2:active {
	padding:                                                   0;
}

a.button.fancy-2 .fancy-text,
a.button.fancy-2:hover .fancy-text {
	padding:                                                   0.3em 0.6em 0.3em 0.7em;
}

a.button.fancy-2 .fancy-icon,
a.button.fancy-2:hover .fancy-icon {
	padding:                                                   0.3em 0.5em 0.3em 0.6em;
}

a.button.fancy-2 .fancy-icon {
	background:                                                var(--black-low);
}

a.button.fancy-3 {
	display:                                                   grid;
	grid-template-columns:                                     45px 1fr;
}

a.button.fancy-3 .fancy-text {
	order:                                                     2;
	justify-self:                                              left;
  	align-self:                                              center;
}

a.button.fancy-3 .fancy-icon {
	justify-self:                                              center;
  	align-self:                                              center;
 	order:                                                    1;
	margin-right:                                              20px;
}

}