@charset "utf-8";
@layer hours {

/*--------------------------------------------------------------
# Office Hours
# Mobile Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Office Hours
--------------------------------------------------------------*/
.office-hours {
	display:                                                   grid;
	grid-template-columns:                                     1fr;
	grid-auto-rows:                                            1fr;
	border:                                                    1px solid var(--black-highest);
	background:                                                var(--white);
	color:                                                     var(--text-color);
	font-size:                                                 var(--font-size-text);
	margin-top:                                                var(--measure-small);
	margin-bottom:                                             var(--measure-base);
}

/* removed 9/24/24 for A&Z Heating & Air Conditioning
.office-hours:first-child {
	margin-top:                                                0;
}

.office-hours:last-child {
	margin-bottom:                                             0;
}

 */

.office-hours > div {
	display:                                                   grid;
	grid-template-columns:                                     2fr 3fr;
	grid-template-rows:                                        auto;
	align-items:                                               center;
	padding:                                                   5px 15px;
}

.office-hours > div.row-info {
	grid-template-columns:                                     1fr;
	font-size:                                                 90%;
}

.office-hours .col-day {
	grid-column:                                               1 / 2;
	grid-row:                                                  span 1;
	text-align:                                                left;
	text-transform:                                            capitalize;
}

.office-hours .col-day.row-2 {
	grid-row:                                                  span 2;
}

.office-hours .col-morning,
.office-hours .col-afternoon,
.office-hours .col-all {
	grid-column:                                               2 / 3;
    text-align:                                             center;
}

.office-hours > div:not(:last-of-type) {
	border-bottom:                                             1px solid var(--black-lowest);
}

.office-hours > div.today {
	border-top:                                                2px solid var(--black-highest);
	border-bottom:                                             2px solid var(--black-highest);
	background:                                                var(--black-low);
	margin-top:                                                -1px;
}

.office-hours div.row .col-all,
.office-hours div.row .col-morning,
.office-hours div.row .col-afternoon {
	font-size:                                                 90%;
}

.office-hours.horz {
	grid-template-columns:                                     repeat(7, 1fr);
	grid-template-rows:                                        1fr;
}

.office-hours.horz > div {
	grid-template-columns:                                     2fr 3fr;
	padding:                                                   10px;
}

.office-hours.horz .col-day,
.office-hours.horz .col-all,
.office-hours.horz .col-morning,
.office-hours.horz .col-afternoon {
	text-align:                                                center;
	padding-bottom:                                            0 10px;
}

.office-hours.horz > div:not(:last-of-type) {
	border-right:                                              1px solid var(--black-lowest);
	border-bottom:                                             none;
}

.office-hours.horz > div.today {
	border:                                                    none;
	border-left:                                               2px solid var(--black-highest);
	border-right:                                              2px solid var(--black-highest);
	margin-top:                                                0;
}


/*--------------------------------------------------------------
# Mobile Styles
--------------------------------------------------------------*/

/* 1: Phones (portrait) */
@media (max-width: 576px) {
	.office-hours {
		min-width:                                                280px;
	}

	.office-hours.horz {
		grid-template-columns:                                    1fr;
		grid-template-rows:                                       repeat(7, 1fr);
	}

	.office-hours.horz > div {
		grid-template-columns:                                    1fr 3fr 3fr;
		grid-template-rows:                                       1fr;
		padding:                                                  5px 15px;
	}

	.office-hours.horz .col-day {
		text-align:                                               left;
		padding-bottom:                                           0;
	}

	.office-hours.horz .col-morning,
	.office-hours.horz .col-afternoon,
	.office-hours.horz .col-all {
		text-align:                                               center;
		padding-bottom:                                           0;
	}

	.office-hours.horz .col-all {
		grid-column:                                              span 2;
	}

	.office-hours.horz > div:not(:last-of-type) {
		border-right:                                             none;
		border-bottom:                                            1px solid var(--black-lowest);
	}

	.office-hours.horz .col-day {
		border-bottom:                                            none;
	}

	.office-hours.horz > div.today {
		border:                                                   none;
		border-top:                                               2px solid var(--black-highest);
		border-bottom:                                            2px solid var(--black-highest);
		margin-top:                                               -1px;
	}
}

}