@charset "utf-8";
@layer reviews {

/* Google Reviews
--------------------------------------------- */
#colophon {
    padding-bottom:                                         55px !important;
}

.wp-gr.wp-google-badge {
	background:                                                var(--google-review-bg);
	position:                                                  fixed;
	display:                                                   flex;
	flex-flow:                                                 row nowrap;
	font-size:                                                 18px;
	justify-content:                                           space-evenly;
	z-index:                                                   10000;
	left:                                                      0;
	right:                                                     0;
	bottom:                                                    0;
	text-align:                                                center;
	border-top:                                                var(--google-review-border);
	margin-top:                                                -1px;
}

.wp-gr .wp-google-badge-btn {
	padding:                                                   1px 0 4px;
	text-decoration:                                           none;
}

.wp-gr .wp-google-badge-score .wp-google-review {
	display:                                                   flex;
	flex-flow:                                                 row wrap;
	justify-content:                                           center;
	align-items:                                               center;
}

.wp-gr .wp-google-rating .wp-google-value {
    color:                                                  var(--google-value-text);
    font-family:                                            var(--font-text);
	font-weight:                                               bold;
  	font-size:                                               125%;
  	transform: 										translate(-1px, 1px);}

.wp-gr .wp-google-rating .wp-google-stars {
	width:                                                     150px;
}

.wp-google-stars .icon.star,
.wp-google-stars .icon.star-half,
.wp-google-stars .icon.star-empty {
	filter:                                                    drop-shadow(1px 1px 1px var(--google-star-shadow));
}

.wp-google-stars .icon .icon-star,
.wp-google-stars .icon .icon-star-half,
.wp-google-stars .icon .icon-star-empty {
	width:                                                     1.35em;
	height:                                                    1.35em;
	margin-top:                                                5px;
	margin-right:                                              3px;
}

.wp-google-stars .icon .icon-star .stroke,
.wp-google-stars .icon .icon-star-half .stroke,
.wp-google-stars .icon .icon-star-empty .stroke {
	fill:                                                      var(--google-star-stroke) !important;
}

.wp-google-stars .icon .icon-star .fill,
.wp-google-stars .icon .icon-star-half .fill {
	fill:                                                      var(--google-star-color) !important;
}

.wp-google-stars .icon .icon-star-half .fill2,
.wp-google-stars .icon .icon-star-empty .fill {
	fill:                                                      var(--google-star-stroke) !important;
}

.wp-gr .wp-google-total {
	width:                                                     100%;
    color:                                                  var(--google-total-text);
	font-size:                                                 14px;
	font-style:                                                italic;
	margin-top:                                                -5px;
	margin-bottom:									-2px
}

.wp-gr svg {
	max-width:                                                 25px;
	max-height:                                                25px;
	margin-right:                                              10px;
}

}