/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Site
# Admin
	
/*--------------------------------------------------------------
# Site
--------------------------------------------------------------*/
#masthead p.attachment {
	display: 									none !important;
}

.user-name {
	text-decoration: 							none;
	font-weight: 								bold;
	font-size: 									18px;
}

.user-name i.fa {
	margin-left: 								0;
	margin-right: 								8px;
}

/* Profiles
--------------------------------------------- */
.user-profile-section {
	margin-bottom: 								2em;
}

.user-profile {
	gap: 										3.5em 3%;
}

img.user-image {
	padding: 									4px;
	background: 								#ffffff;
	border: 									2px solid rgba(0,0,0,0.8);
	border-radius: 								100%;
	max-width: 									100%;
	width: 										240px;
	height: 									auto;
}

.profile-description,
.profile-social {
	text-align: 								center;
	margin-bottom: 								10px;
}

.file-upload-btn,
.file-submit-btn {
	margin: 									5px;
}

.info-submit-btn {
	margin: 									10px auto;
	display: 									block !important;
} 

input[id*='upload-file-name'] {
	display: 									inline-block;
	min-width: 									200px;
	max-width: 									300px;
	padding: 									2px 5px;
	margin: 									5px 5px 10px 0;
}

.slug-profile label {
	text-align: 								left;
}

.slug-profile label > * {
	margin-top: 								0.25em;
}

#userinfo-update,
#wall-update {
	display: 									block;
	margin: 									0 auto;
	width: 										750px;
	max-width: 									100%;
}

#userinfo-update .flex:not(:last-child) {
	margin-bottom: 								1.5em;
}

/* Archives
--------------------------------------------- */
 .archive-profiles {
 	text-align: 								center;
 }
 
 .archive-profiles .directory-user-info > * {
 	display: 									block;
 }

/* Updates
--------------------------------------------- */
span.user-roles {
	font-size: 									75%;
	font-weight: 								normal;
}

#primary .archive-updates img.user-image,
#primary .user-profile-section .col-updates img.user-image {
	float: 										left;
	width: 										80px;
	height: 									auto;
	margin: 									0 16px 0 0;
	filter: 									none;
}

.archive-updates span i.fa,
.user-profile-section .col-updates span i.fa {
	margin-right: 								10px;
}

.archive-updates h3,
.user-profile-section .col-updates h3 {
	font-family: 								"Open Sans";
	font-size: 									21px;
	text-align: 								left;
	margin-top: 								1.5em;
}

.archive-updates p, 
.archive-updates h1 + .block.block-text, 
.archive-updates h2 + .block.block-text, 
.archive-updates h3 + .block.block-text,
.user-profile-section .col-updates p, 
.user-profile-section .col-updates h1 + .block.block-text, 
.user-profile-section .col-updates h2 + .block.block-text, 
.user-profile-section .col-updates h3 + .block.block-text {
    margin-top:									1em;
    margin-bottom: 								1em;
}

/* 1: Phones (portrait) */
@media (max-width: 576px) {

	.archive-profiles h3 {
		font-size: 									28rem;
	}
	
	.archive-profiles .flex .col {
		grid-column: 								span 1;
	}
	
	img.user-image {
		padding: 4px;
		background: #ffffff;
		border: 2px solid rgba(0,0,0,0.8);
		border-radius: 100%;
		max-width: 100%;
		width: 240px;
		height: auto;
	}
}