@charset "utf-8";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# My Normals

/* Typography
--------------------------------------------- */
@font-face {
	font-family:                                               'Open Sans';
	src:                                                       url('/wp-content/themes/battleplantheme/fonts/opensans-regular.woff2') format('woff2');
	font-weight:                                               400;
	font-style:                                                normal;
	font-display:                                              swap;
}

@font-face {
	font-family:                                               'Open Sans';
	src:                                                       url('/wp-content/themes/battleplantheme/fonts/opensans-bold.woff2') format('woff2');
	font-weight:                                               700;
	font-style:                                                normal;
	font-display:                                              swap;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only,
.wpcf7 .screen-reader-response {
	position:                                                  absolute !important;
	width:                                                     1px;
	height:                                                    1px;
	margin:                                                    -1px;
	padding:                                                   0;
	border:                                                    0;
	clip:                                                      rect(1px, 1px, 1px, 1px);
	clip-path:                                                 inset(50%);
	overflow:                                                  hidden;
	word-wrap:                                                 normal !important;
}

.screen-reader-text:focus,
.sr-only:focus {
	background-color:                                          var(--white);
	border-radius:                                             3px;
	box-shadow:                                                0 0 2px 2px var(--black-med);
	clip:                                                      auto !important;
	clip-path:                                                 none;
	color:                                                     var(--dark-grey);
	display:                                                   block;
	font-size:                                                 0.875rem;
	font-weight:                                               700;
	height:                                                    auto;
	left:                                                      5px;
	line-height:                                               normal;
	padding:                                                   15px 23px 14px;
	text-decoration:                                           none;
	top:                                                       5px;
	width:                                                     auto;
	z-index:                                                   100000;
}

#primary[tabindex="-1"]:focus {
	outline:                                                   0;
}

*:focus,
*:focus-within {
	outline:                                                   none;
}

body.using-keyboard *.tab-focus,
body.using-keyboard .block-accordion.tab-focus {
	outline:                                                   5px solid var(--warning) !important;
}

body.using-mouse *.tab-focus,
body.using-mouse .block-accordion.tab-focus {
	outline:                                                   2px dotted var(--warning) !important;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay:                                          -1ms !important;
		animation-duration:                                       -1ms !important;
		animation-iteration-count:                                1 !important;
		background-attachment:                                    initial !important;
		scroll-behavior:                                          auto !important;
		transition-duration:                                      0s !important;
		transition-delay:                                         0s !important;
	}
}

/*--------------------------------------------------------------
# My Normals
--------------------------------------------- */
.wordSplit,
.charSplit {
	display:                                                   inline-block;
}

#page {
	position:                                                  relative;
	overflow:                                                  hidden;
}

.clearfix {
	clear:                                                     both;
}

.icon.email + .icon.email {
	display: none !important; /* strange double email icon problem */
}

/* Elements
--------------------------------------------- */
hr {
	box-sizing:                                                content-box;
	background-color:                                          var(--light-grey);
	border:                                                    0;
	height:                                                    1px;
	margin-bottom:                                             var(--measure-base);
	overflow:                                                  visible;
}

p,
h1 + .block.block-text,
h2 + .block.block-text,
h3 + .block.block-text {
	margin-top:                                                var(--measure-small);
	margin-bottom:                                             var(--measure-base);
}

form p {
	margin-top:                                                0.5em;
	margin-bottom:                                             0.5em;
}

form p:last-of-type {
	margin-bottom:                                             var(--measure-base);
}

ul,
ol {
	margin:                                                    var(--measure-small) 0 var(--measure-base) 0.75em;
	padding-left:                                              var(--measure-small);
	list-style:                                                disc;
}

ol {
	list-style:                                                decimal;
}

ul > ul,
ul > ol,
ol > ul,
ol > ol {
	margin-top:                                                0;
}

p.indent {
	padding-left:                                              var(--measure-small);
}

p.indent-double {
	padding-left:                                              2em;
}

p:first-child,
ul:first-child,
ol:first-child {
	margin-top:                                                0;
}

p:last-child,
#wrapper-content img.align-center:last-child,
ul:last-child,
ol:not(.carousel-indicators):last-child,
h1 + .block.block-text:last-child,
h2 + .block.block-text:last-child,
h3 + .block.block-text:last-child {
	margin-bottom:                                             0;
}

li:not(.menu-item):not(.carousel-icon):not(.tab-button):not(:last-child) {
	margin-bottom:                                             var(--bullet-spacing);
}

ul.paragraphs li:not(.menu-item):not(.carousel-icon):not(.tab-button):not(:last-child),
ul.paragraph li:not(.menu-item):not(.carousel-icon):not(.tab-button):not(:last-child) {
    margin-bottom:                                          var(--measure-small);
}

li.filter-choice {
	list-style:                                                none;
}

li.filter-choice div {
	display:                                                   inline-block;
}

li > ul,
li > ol {
	margin-bottom:                                             0;
	margin-left:                                               var(--measure-base);
}

dt {
	font-weight:                                               700;
}

dd {
	margin:                                                    0 var(--measure-base) var(--measure-base);
}

embed,
iframe,
object {
	display:                                                   block;
	max-width:                                                 100%;
	margin:                                                    0 auto;
}

img {
	display:                                                   block;
	max-width:                                                 100%;
	height:                                                    auto;
	margin:                                                    0 auto;
}

figure {
	margin:                                                    0;
}

table {
	margin:                                                    0 0 var(--measure-base);
	width:                                                     100%;
}

.two-col,
.two-column,
.three-col,
.three-column,
.four-col,
.four-column {
	column-count:                                              2;
	column-gap:                                                var(--measure-large);
}

.three-col,
.three-column {
	column-count:                                              3;
}

.four-col,
.four-column {
	column-count:                                              4;
}

.two-col > *,
.two-column > *,
.three-col > *,
.three-column > *,
.four-col > *,
.four-column > * {
	break-inside:                                              avoid;
}

.left,
.text-left {
	text-align:                                                left;
}

.left img,
.text-left img {
	margin:                                                    0 auto 0 0;
}

.right,
.text-right {
	text-align:                                                right;
}

.right img,
.text-right img {
	margin:                                                    0 0 0 auto;
}

.center,
.text-center {
	text-align:                                                center;
}

small,
.text-small {
	font-size:                                                 var(--font-size-small);
}

big,
.text-big {
	font-size:                                                 var(--font-size-big);
}

.margin-off,
.no-margin {
	margin:                                                    0 !important;
}

.padding-off,
.no-padding {
	padding:                                                   0 !important;
}