/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Site
# Admin
	
/*--------------------------------------------------------------
# Site
--------------------------------------------------------------*/
#masthead p.attachment {
	display: 									none !important;
}

.user-profile {
	gap: 										3.5em 3%;
}

img.user-image {
	padding: 									4px;
	background: 								#ffffff;
	border: 									2px solid rgba(0,0,0,0.8);
	border-radius: 								100%;
	max-width: 									100%;
	width: 										240px;
	height: 									auto;
}

.profile-description,
.profile-social {
	text-align: 								center;
	margin-bottom: 								10px;
}

form#image-upload {
	text-align: 								center;
}

.file-upload-btn,
.file-submit-btn {
	margin: 									5px;
}

.info-submit-btn {
	margin: 									10px auto;
	display: 									block !important;
} 

input[id*='upload-file-name'] {
	display: 									inline-block;
	min-width: 									200px;
	max-width: 									300px;
	padding: 									2px 5px;
	margin: 									5px 5px 10px 0;
}

#userinfo-update label,
#status-update label {
	display: 									block;
	margin: 									0 auto;
	max-width: 									100%;
	width: 										500px;
}

.archive-profiles h3 {
	font-size: 									24rem;
	max-width: 									100%;
	overflow: 									hidden;
}

span.user-roles {
	font-size: 									75%;
	font-weight: 								normal;
}

#primary .archive-updates img.user-image {
	float: 										left;
	width: 										80px;
	height: 									auto;
	margin: 									0 16px 0 0;
	filter: 									none;
}

.archive-updates a.link-updates + span.updates-author {
	display: 									inline-block;
	margin-top: 								20px;
}

.archive-updates span i.fa {
	margin-right: 								10px;
}

.archive-updates h3 {
	font-family: 								"Open Sans";
	font-size: 									21px;
	text-align: 								left;
	margin-top: 								1.5em;
}

.archive-updates p, 
.archive-updates h1 + .block.block-text, 
.archive-updates h2 + .block.block-text, 
.archive-updates h3 + .block.block-text {
    margin-top:									1em;
    margin-bottom: 								1em;
}


/* 1: Phones (portrait) */
@media (max-width: 576px) {

	.archive-profiles h3 {
		font-size: 									28rem;
	}
	
	.archive-profiles .flex .col {
		grid-column: 								span 1;
	}
	
	img.user-image {
		padding: 4px;
		background: #ffffff;
		border: 2px solid rgba(0,0,0,0.8);
		border-radius: 100%;
		max-width: 100%;
		width: 240px;
		height: auto;
	}
}