/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	- Forms
	- Overrides
	- Info & Error Boxes
	- Catalog Page
	- Product Page
	- Checkout Page
 	- Account Page
# Mobile Styles


/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Forms
--------------------------------------------- */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: 						none;
    margin: 									0;
} 

input[type="number"] {
    -moz-appearance: 							textfield;
}

.theme-battleplantheme.woocommerce-page button.button,
.theme-battleplantheme.woocommerce-page a.button,
.theme-battleplantheme.woocommerce-page #respond input#submit,  
.theme-battleplantheme.woocommerce-page input.button {
	display:									inline-block;
	font: 										normal 1.2em / 1 Helvetica, Arial, Verdana, sans-serif; 
	background: 								rgba(0,0,0,0.2);
	background-color:							rgba(0,0,0,0.2);
	border:										none;
	color: 										rgba(0, 0, 0, 0.8);
	padding: 									0.3em 1em;
	cursor:										pointer;
	text-decoration:							none;
	transition:									all 0.2s ease;
	text-transform:								capitalize;
}

.theme-battleplantheme.woocommerce-page button.button:hover,
.theme-battleplantheme.woocommerce-page a.button:hover,
.theme-battleplantheme.woocommerce-page #respond input#submit:hover,  
.theme-battleplantheme.woocommerce-page input.button:hover,
.theme-battleplantheme.woocommerce-page button.button.tab-focus,
.theme-battleplantheme.woocommerce-page a.button.tab-focus,
.theme-battleplantheme.woocommerce-page #respond input#submit.tab-focus,  
.theme-battleplantheme.woocommerce-page input.button.tab-focus, 
.theme-battleplantheme.woocommerce-page button.button:active,
.theme-battleplantheme.woocommerce-page a.button:active,
.theme-battleplantheme.woocommerce-page #respond input#submit:active,  
.theme-battleplantheme.woocommerce-page input.button:active {
	background: 								rgba(0,0,0,0.4);
	border:										none;
	transition:									all 0.2s ease;
}

.theme-battleplantheme.woocommerce-page #respond input#submit.disabled, 
.theme-battleplantheme.woocommerce-page #respond input#submit.disabled:hover, 
.theme-battleplantheme.woocommerce-page #respond input#submit.disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page #respond input#submit.disabled:active, 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled, 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled:hover, 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled:active, 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled[disabled], 
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled[disabled]:hover,
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled[disabled].tab-focus,
.theme-battleplantheme.woocommerce-page #respond input#submit:disabled[disabled]:active, 
.theme-battleplantheme.woocommerce-page a.button.disabled, 
.theme-battleplantheme.woocommerce-page a.button.disabled:hover, 
.theme-battleplantheme.woocommerce-page a.button.disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page a.button.disabled:active, 
.theme-battleplantheme.woocommerce-page a.button:disabled, 
.theme-battleplantheme.woocommerce-page a.button:disabled:hover,
.theme-battleplantheme.woocommerce-page a.button:disabled.tab-focus,
.theme-battleplantheme.woocommerce-page a.button:disabled:active, 
.theme-battleplantheme.woocommerce-page a.button:disabled[disabled], 
.theme-battleplantheme.woocommerce-page a.button:disabled[disabled]:hover, 
.theme-battleplantheme.woocommerce-page a.button:disabled[disabled].tab-focus, 
.theme-battleplantheme.woocommerce-page a.button:disabled[disabled]:active, 
.theme-battleplantheme.woocommerce-page button.button.disabled, 
.theme-battleplantheme.woocommerce-page button.button.disabled:hover, 
.theme-battleplantheme.woocommerce-page button.button.disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page button.button.disabled:active, 
.theme-battleplantheme.woocommerce-page button.button:disabled, 
.theme-battleplantheme.woocommerce-page button.button:disabled:hover, 
.theme-battleplantheme.woocommerce-page button.button:disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page button.button:disabled:active, 
.theme-battleplantheme.woocommerce-page button.button:disabled[disabled], 
.theme-battleplantheme.woocommerce-page button.button:disabled[disabled]:hover,
.theme-battleplantheme.woocommerce-page button.button:disabled[disabled].tab-focus,
.theme-battleplantheme.woocommerce-page button.button:disabled[disabled]:active, 
.theme-battleplantheme.woocommerce-page input.button.disabled, 
.theme-battleplantheme.woocommerce-page input.button.disabled:hover, 
.theme-battleplantheme.woocommerce-page input.button.disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page input.button.disabled:active, 
.theme-battleplantheme.woocommerce-page input.button:disabled, 
.theme-battleplantheme.woocommerce-page input.button:disabled:hover, 
.theme-battleplantheme.woocommerce-page input.button:disabled.tab-focus, 
.theme-battleplantheme.woocommerce-page input.button:disabled:active, 
.theme-battleplantheme.woocommerce-page input.button:disabled[disabled], 
.theme-battleplantheme.woocommerce-page input.button:disabled[disabled]:hover, 
.theme-battleplantheme.woocommerce-page input.button:disabled[disabled].tab-focus, 
.theme-battleplantheme.woocommerce-page input.button:disabled[disabled]:active {
	background-color:							rgba(40,40,40,0.2);
	border:										none;
	color: 										rgba(40, 40, 40, 0.8);
	cursor:										not-allowed;
}

a.cart-btn {
	color:										#4169e1; 
	cursor:										pointer;
	text-decoration:							none;
}

a.cart-btn:hover,
a.cart-btn:active,
a.cart-btn.tab-focus {
	color:										#191970;
}

.woocommerce .woocommerce-breadcrumb a {
	color: all;
}

/* Overrides
--------------------------------------------- */
.theme-battleplantheme.woocommerce-page .loader::before,
.theme-battleplantheme.woocommerce-page ul.products::after, 
.theme-battleplantheme.woocommerce-page ul.products::before, 
.theme-battleplantheme.woocommerce-page ul.products::after, 
.theme-battleplantheme.woocommerce-page ul.products::before,
.theme-battleplantheme.woocommerce-page .reset_variations,
.theme-battleplantheme.woocommerce-page .woocommerce-terms-and-conditions-wrapper,
.theme-battleplantheme.woocommerce-page .about_paypal {
    display:									none !important;
}

.theme-battleplantheme.woocommerce-page table.shop_table_responsive tr {
	border-bottom:								1px solid rgba(0,0,0,0.15);
	padding-bottom:								1em;
}

.theme-battleplantheme.woocommerce-page table.shop_table_responsive tr td {
    background-color: 							transparent;
}

.theme-battleplantheme.woocommerce-page table.shop_table_responsive tr td.actions {
    padding-top:								2em;
}

/* Info & Error Boxes
--------------------------------------------- */
.theme-battleplantheme.woocommerce-page .woocommerce-notices-wrapper {
	margin-top:									2em;
	margin-bottom:								2.5em;
}

.theme-battleplantheme.woocommerce-page .woocommerce-form-login-toggle, 
.theme-battleplantheme.woocommerce-page .woocommerce-error, 
.theme-battleplantheme.woocommerce-page .woocommerce-info, 
.theme-battleplantheme.woocommerce-page .woocommerce-message, 
.theme-battleplantheme.woocommerce-page .woocommerce form.checkout_coupon, 
.theme-battleplantheme.woocommerce-page .woocommerce form.login, 
.theme-battleplantheme.woocommerce-page .woocommerce form.register {
	clear:										both;
}

.theme-battleplantheme.woocommerce-page .woocommerce-error, 
.theme-battleplantheme.woocommerce-page .woocommerce-info, 
.theme-battleplantheme.woocommerce-page .woocommerce-message, 
.theme-battleplantheme.woocommerce-page .woocommerce form.checkout_coupon, 
.theme-battleplantheme.woocommerce-page .woocommerce form.login, 
.theme-battleplantheme.woocommerce-page .woocommerce form.register,
.theme-battleplantheme.woocommerce-page #add_payment_method #payment, 
.theme-battleplantheme.woocommerce-page .woocommerce-cart #payment, 
.theme-battleplantheme.woocommerce-page .woocommerce-checkout #payment {
    border-top: 								3px solid rgba(60,60,60,0.7);
	background-color: 							rgba(255,255,255,0.7);
	border-radius:								0;
    color: 										inherit;
}

.theme-battleplantheme.woocommerce-page .woocommerce-error::before, 
.theme-battleplantheme.woocommerce-page .woocommerce-info::before, 
.theme-battleplantheme.woocommerce-page .woocommerce-message::before {
    color: 										inherit;
}

.theme-battleplantheme.woocommerce-page .woocommerce form.checkout_coupon, 
.theme-battleplantheme.woocommerce-page .woocommerce form.login, 
.theme-battleplantheme.woocommerce-page .woocommerce form.register {
    margin-top:									0;
	border:										none;
}

.theme-battleplantheme.woocommerce-page .woocommerce form.login, 
.theme-battleplantheme.woocommerce-page .woocommerce form.register {
	width:										100%;
    max-width: 									400px;
    margin: 									0 auto;
	background:									none;
}

.theme-battleplantheme.woocommerce-page .woocommerce-form p:first-of-type, 
.theme-battleplantheme.woocommerce-page .woocommerce-form-coupon p:first-of-type, 
.theme-battleplantheme.woocommerce-page .payment_method_paypal p:first-of-type,
.theme-battleplantheme.woocommerce-page .woocommerce-error li:first-of-type {
	/*margin-top:									0;*/
}

/* Catalog Page
--------------------------------------------- */
.theme-battleplantheme.woocommerce-page ul.products {
	margin: 									0 0 1.5em;
	display: 									grid;
	gap: 										1.5em;
}

.theme-battleplantheme.woocommerce-page ul.products li.product,
.theme-battleplantheme.woocommerce-page ul.products li.product > a {
	margin:										0;
	width:										100%;
	display: 									grid;
    grid-template-columns: 						repeat(12,1fr);
    gap: 										0.75em 3%;
}

.theme-battleplantheme.woocommerce-page ul.products li.product > *,
.theme-battleplantheme.woocommerce-page ul.products li.product > a > * {
	grid-column: 								span 12;
	margin:										0;
	padding: 									0;
}

.theme-battleplantheme.woocommerce-page ul.products li.product a.button.product_type_variable {
	display:									none;
}

/* Product Page
--------------------------------------------- */
.theme-battleplantheme.woocommerce-page div.product p.price, 
.theme-battleplantheme.woocommerce-page div.product span.price {
	color:										inherit;
}

.theme-battleplantheme.woocommerce-page .woocommerce-product-details__short-description {
	margin-bottom:								1.5em;
}

.theme-battleplantheme.woocommerce-page form.variations_form label {
	text-transform:								capitalize;
}

.theme-battleplantheme.woocommerce-page .woocommerce-variation > * {
	margin-bottom:								1em;
}

.theme-battleplantheme.woocommerce-page .woocommerce-variation-price,
.theme-battleplantheme.woocommerce-page .woocommerce-variation-add-to-cart {
	text-align:									right;
}

.theme-battleplantheme.woocommerce-page div.product form.cart div.quantity,
.theme-battleplantheme.woocommerce-page div.product form.cart .button {
    float: 										none;
    display: 									inline;
}

.theme-battleplantheme.woocommerce-page div.product form.cart div.quantity {
    margin-right: 								15px;
}

.theme-battleplantheme.woocommerce-page .product_meta {
	display:									none;
}

.theme-battleplantheme.woocommerce-page section.related.products {
	clear:										both;
}

.theme-battleplantheme.woocommerce-page section.related.products ul.products {
	margin-top:									1em;
}

/* Checkout Page
--------------------------------------------- */
.theme-battleplantheme.woocommerce-page table.shop_table,
.theme-battleplantheme.woocommerce-page table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border: 									none;
}

.theme-battleplantheme.woocommerce-page table.shop_table,
.theme-battleplantheme.woocommerce-page table.shop_table thead th {
	border-bottom: 								1px solid rgba(0,0,0,0.3);
	border-radius:								0;
}

.theme-battleplantheme.woocommerce-page .coupon {
	background:									none;
	border:										none;
	padding:									0;
	margin:										0.5em 0;
}

.theme-battleplantheme.woocommerce-page table.cart img {
    width: 										60px;
}

.theme-battleplantheme.woocommerce-page #coupon_code {
	margin-right: 								15px;
}

.theme-battleplantheme.woocommerce-page #coupon_code {
	width:										auto;
}

.theme-battleplantheme.woocommerce-page .cart-collaterals .cart_totals,
.theme-battleplantheme.woocommerce-page .col-1, 
.theme-battleplantheme.woocommerce-page .col-2 {
    width: 										600px;
	max-width:									96%;
	margin:										0 auto 1.5em;
	float:										none;
}

.theme-battleplantheme.woocommerce-page .wc-proceed-to-checkout p {
	text-align:									center;
}

.theme-battleplantheme.woocommerce-page form .form-row:not(.place-order) {
    margin-bottom:								1.5em;
}

.theme-battleplantheme.woocommerce-page .woocommerce-additional-fields {
    margin-top:									1.5em;
}

.theme-battleplantheme.woocommerce-page #customer_details {
    margin-bottom:								2.5em;
}

.select2 {
	display:									none;
}

#add_payment_method #payment ul.payment_methods, 
.woocommerce-cart #payment ul.payment_methods, 
.woocommerce-checkout #payment ul.payment_methods {
	border-bottom:								none;
}

#add_payment_method #payment ul.payment_methods li img, 
.woocommerce-cart #payment ul.payment_methods li img, 
.woocommerce-checkout #payment ul.payment_methods li img {
	display:									inline;
	margin:										0 10px;
	border:										none;
}

#add_payment_method #payment div.payment_box, 
.woocommerce-cart #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {
    background-color: 							rgba(0,0,0,0.15);
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before, 
.woocommerce-checkout #payment div.payment_box::before {
    border: 									1em solid rgba(0,0,0,0.15);
    border-right-color: 						transparent;
    border-left-color: 							transparent;
    border-top-color: 							transparent;
	margin: 									-25px 0 0 13px;
}

/* Account Page
--------------------------------------------- */
.woocommerce-account .woocommerce-MyAccount-navigation {
	width:										170px;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width:										calc(100% - 185px);
}

.woocommerce-MyAccount-navigation ul {
	padding-left:								0;
	margin-left:								0.3em;
}

.woocommerce-MyAccount-navigation-link {
	list-style:									none;
}

.woocommerce-account .woocommerce a {
	margin-right:								10px;
}


/*--------------------------------------------------------------
# Mobile Styles
--------------------------------------------------------------*/

/* 4: Large Tablets (landscape) */
@media (max-width: 1280px) {	
}

/* 3: Small Tablets (landscape) */
@media (max-width: 1024px) {
	/* Product Page */
	.theme-battleplantheme.woocommerce-page div.product p.price, 
	.theme-battleplantheme.woocommerce-page div.product span.price {
		text-align:									center;
	}
}

/* 2: Phones (landscape) + Tablets (portrait) */
@media (max-width: 860px) {
	
}

/* 1: Phones (portrait) */
@media (max-width: 576px) {
	/* Product Page */
	.theme-battleplantheme.woocommerce-page .woocommerce-variation-price,
	.theme-battleplantheme.woocommerce-page .woocommerce-variation-add-to-cart {
		text-align:									center;
	}
	
	/* Checkout Page */
	.theme-battleplantheme.woocommerce-page #coupon_code {
		width:										100%;
		margin-right: 								0;
	}
	
	.theme-battleplantheme.woocommerce-page td.actions .coupon button.button {
		width:										100%;
		margin-top:									1em;
	}
	
	.theme-battleplantheme.woocommerce-page form .form-row-first, 
	.theme-battleplantheme.woocommerce-page form .form-row-last, 
	.theme-battleplantheme.woocommerce-page form .form-row-first, 
	.theme-battleplantheme.woocommerce-page form .form-row-last {
		width: 										100%;
	}
	
	h3#ship-to-different-address {
		text-align:									left;
		font-size:									18px;
	}

}