@charset "utf-8";

/*--------------------------------------------------------------
# Logo Slider
--------------------------------------------------------------*/

.logo-slider {
	position:                                                  relative;
	overflow:                                                  hidden;
	width: 100vw
}

.logo-slider .logo-row {
	display:                                                   flex;
	flex-wrap:                                                 nowrap;
	width:                                                     auto;
	align-items:                                               center;
	animation: scroll 20s linear infinite
}

.logo-slider .logo-row:nth-of-type(2) {
	position:                                                  absolute;
	top: 0%
}

.logo-slider img.logo-img,
#wrapper-bottom .logo-slider img.logo-img {
	border:                                                    none !important;
	border-radius:                                             0 !important;
	box-shadow:                                                none !important;
	filter:                                                    none !important;
	background:                                                none !important;
	outline: none
}
