
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# The Events Calendar PRO
	- Event View
	- List View
	- Month View
	- Widget View
	- Teasers View
*/

/*--------------------------------------------------------------
# The Events Calendar PRO
--------------------------------------------- */

/* Event View */
.tribe-events-schedule h2 {
	font-family: 								"Open Sans", sans-serif;
	font-weight:								normal;
	text-transform:								none;
}

.tribe-events-schedule,
.tribe-events-notices { 
	margin: 									0.25em 0.6em 2em;
	flex-wrap: 									wrap;
}

.tribe-events-schedule h2 {
    font-size: 									18px;
    line-height: 								1.7;
	width: 										100%;
}

.tribe-event-date-start::before,
.tribe-event-time-start::before,
.tribe-event-cost::before,
.tribe-events-c-small-cta__price::before {
	display: 									inline-block;
    font-family: 								Font Awesome;
    content: 									"\f073";
	font-weight:								600;
	color:										inherit;
    text-align: 								left;
    padding-right: 								12px;
}

.tribe-event-time-start::before {
    content: 									"\f017";
    padding-right: 								9px;
}

.tribe-event-cost::before,
.tribe-events-c-small-cta__price::before {
   	/*content: 									"\f543"; /* receipt */
    /*content: 									"\f0d6"; /* money */
	content: 									"\f3ff"; /* ticket */
    padding-right: 								8px;
	margin-left: 								-2px;
}

.tribe-events-c-small-cta__price::before {
    padding-right: 								3px;
}

.tribe-events-notices {
  background: 									rgba(0,0,0,0.3);
  border: 										none;
  color: 										var(--white);
  text-shadow: 									none;
  padding: 										0;
}

.tribe-events-notices ul,
ul.nav-links {
	padding: 									0;
	margin: 									0;
	list-style: 								none;
}

.tribe-events-notices li::before {
	display: 									inline-block;
    content: 									"!";
	font-weight:								bold;
	color:										rgba(0,0,0,0.8);
	background: 								rgba(255,255,255,0.8);
    text-align: 								left;
    padding: 									3px 6px;
	margin-right: 								10px;
}

.tribe-events-back {
	margin: 									3em 0 0;
}

.tribe-events-nav-pagination {
	margin-bottom: 								1.5em;
}

.tribe_events .tribe-events /* Add To Calendar button */,
.tribe-events-view-loader,
.tribe-events-related-events-title, /* Related Events Title */
.tribe-related-events.tribe-clearfix, /* Related Events */
.tribe-events-calendar-list__event-datetime-recurring-link { /* SVG for recurring events */
	display: 									none !important;
}

.tribe-events-nav-pagination {
	margin-bottom: 								1.5em;
}

/* List View */
.archive-events h3 a {
	text-decoration: 							none;
}

.archive-events .event-meta {
	margin: 									0.5em 0.6em 1em;
	font-size: 									90%;
}

/* Calendar View */
.tribe-events-calendar-month__day {
	border-top: 								1px solid rgba(255,255,255,0.3);
	border-left: 								1px solid rgba(255,255,255,0.3);
}

.tribe-events-calendar-month__body {
	border-bottom: 								1px solid rgba(255,255,255,0.3);
	border-right: 								1px solid rgba(255,255,255,0.3);
}

.tribe-events-calendar-month__day {
	background: 								var(--white-lowest);
}

.tribe-events-calendar-month__day--current {
	background: 								var(--white-med);
}

.tribe-events-calendar-month__day--current time,
.tribe-events-calendar-month__day--current a,
.tribe-events-calendar-month__day--current a:visited {
	color: 										rgba(0,0,0,0.9);
}

.tribe-events-calendar-month__day--current a:hover,
.tribe-events-calendar-month__day--current a:active,
.tribe-events-calendar-month__day--current a.tab-focus {
	color: 										var(--black-med);
}

.tribe-events-calendar-month__day--past {
	background: 								var(--black-lowest);
}

.tribe-events-calendar-month__day--past-month,
.tribe-events-calendar-month__day--next-month {
	background: 								var(--black-med);
}

.tribe-events .tribe-events-calendar-month__header-column-title,
.tribe-events-calendar-month__day-date {
	font-family: 								"Open Sans";
	font-weight: 								bold;
	font-size: 									21px;
	text-align: 								center;
}

.tribe-events-calendar-month__day-date {
	font-size: 									14px;
	text-align: 								left;
}

.tribe-events-calendar-month__day-date a {
	font-size: 									12px;
}

.tribe-events .tribe-events-calendar-month__day-cell {
	position: 									absolute;
  	align-items: 								start;
  	text-align: 								left;
  	top: 										0;
	padding: 									0.15em 0.35em;
}

.screen-desktop .tribe-events .tribe-events-calendar-month__header-column-title-mobile,
.screen-mobile .tribe-events .tribe-events-calendar-month__header-column-title-desktop,
.tribe-events .tribe-events-calendar-month__day-cell--desktop {
	display: 									none;
}

.events-header h1,
h2#tribe-events-calendar-header {
	text-align: 								center;
}

h2#tribe-events-calendar-header {
	font-size: 									32rem;
	margin-bottom: 								1.25em;
}

footer.events-footer,
footer.event-footer {
	clear: 										both;
	padding: 									1.5em 0 1em;
}

.block.calendar-view-prev {
	order: 									1 !important;
}

.block.calendar-view-next {
	order: 									3 !important;
}

.block.calendar-view-detail {
	order: 									2 !important;
}

/* 3: Small Tablets (landscape) */
@media (max-width: 1024px) {
	body[class*="slug-month"] #main-content,
	body[class*="slug-20"] #main-content {
		grid-template-columns: 					[column-1-start] 1fr [column-1-end] !important;
	}
}

/* 2: Phones (landscape) + Tablets (portrait) */
@media (max-width: 860px) {		
	.block.calendar-view-prev,
	.block.calendar-view-next {
		grid-column: 							span 6;
		order: 									1 !important;
	}
		
	.block.calendar-view-detail {
		grid-column: 							span 12;
		order: 									2 !important;
	}
}




/* Widget View */
/*
.tribe-events-adv-list-widget .type-tribe_events {
	margin:										1.2em 0;
	padding:									0;	
}


.tribe-events-adv-list-widget .tribe-mini-calendar-event {
	margin:										0;
	padding:									0;
}

.tribe-events-adv-list-widget .list-date,
.tribe-events-adv-list-widget .tribe-events-widget-link {
	display:									none;
}

.tribe-events-adv-list-widget a {
	text-decoration:							none;
}

.tribe-events-adv-list-widget .tribe-events-title {
	font-size:									24px;
}

.tribe-events-adv-list-widget .tribe-events-duration {
	font-size:									75%;
	margin-top:									0.2em;
}

/* Teasers View */
/*
.event-teasers .event-meta {
	font-size:									85%;
	margin-top:									0.5em;
	margin-bottom:								1em;
}


*/