@charset "utf-8";
/* CSS Document */

.clearfix {
	clear:										both;
}

/* Hide "register plug in" message on Admin Columns Pro & Extended Widget Options */
.plugin-update-tr[data-plugin*="admin-columns-pro"]:not(#admin-columns-pro-update) .update-message,
tr.active[data-plugin*="extended-widget-options"] + tr.plugin-update-tr,
tr.active[data-plugin*="events-calendar-pro"] + tr.plugin-update-tr {
	display:									none;
}

.plugins * {
	box-shadow:									none !important;
	outline:									none;
}

.plugins tr {
	outline: 									1px solid rgba(0,0,0,0.1);
	transform: 									translateY(-1px);
}

.plugins tr#admin-columns-pro-update {
	outline:									none;
	border-left:								1px solid rgba(0,0,0,0.1);
	border-right:								1px solid rgba(0,0,0,0.1);
}

/* Admin dashboard */
#dashboard-widgets .postbox-container .empty-container {
	opacity:									0;
}

#dashboard-widgets #postbox-container-1 {
	width:										18%;
}

#dashboard-widgets #postbox-container-2 {
	width:										34%;
}

#dashboard-widgets #postbox-container-3 {
	width:										48%;
}

#dashboard-widgets #postbox-container-3 table {
	float:										left;
}

#dashboard-widgets #postbox-container-3 table:not(:last-of-type) {
	margin-right:								50px;
}

#dashboard-widgets #postbox-container-3 td.dates {
	min-width:									100px;
}

#dashboard-widgets #postbox-container-3 td.visits,
#dashboard-widgets #postbox-container-3 td.search {
	min-width:									55px;
}

#dashboard-widgets #postbox-container-4 {
	display:									none;
}

#battleplan_referrer_stats ul,
#battleplan_location_stats ul {
	column-count:								2;
}

ul span.label {
	display:									inline-block;
	width:										210px;
	overflow:									clip;
}

ul span.value {
	margin-right:								20px;
}

#battleplan_site_stats tr.coloration td,
#battleplan_trends_stats table tr.coloration td {
	color:										#009809;
	filter:										saturate(0%);
}

#battleplan_click_stats td {
	width:										75px;
}

/* Page Attributes meta box */
p.post-attributes-help-text {
	display:									none;
}

label.post-attributes-label {
	vertical-align:								middle;
}

input[type="checkbox"], input[type="radio"] {
	margin-right:								0.5em;
}

/* Pages, Posts, etc. */
.wp-list-table th a {
	text-align:									center;
}

.wp-list-table th {
	text-align:									center;
	padding:									2px 0 6px;
}

.wp-list-table th:not(#title).sortable {
	padding:									8px 0 0;
}

.wp-list-table td {
	text-align:									center;
}

.wp-list-table th#title a,
.wp-list-table th#title,
.wp-list-table th#filename a,
.wp-list-table th#filename,
.wp-list-table th#alt-text a,
.wp-list-table th#alt-text,
.wp-list-table td.title,
.wp-list-table td.column-source,
.wp-list-table td.plugin-title,
.wp-list-table td.column-description,
.wp-list-table td.plugin-update,
.wp-list-table td.column-filename,
.wp-list-table td.alt-text {
	text-align:									left;
}

.wp-list-table th:not(#title) a span {
	display:									block;
	margin:										0 auto 4px;
	float:										none;
}

td.title {
	cursor:										pointer;
}

td.title .wds-meta-details {
	display:									none;
}

.row-actions {
	display:									block;
	position:									relative;
	left:										0;
	transform:									scale(1,0);
	max-height:									0;
	transition:									all 0.4s ease;
}

.comment-item:hover .row-actions, 
.mobile .row-actions, 
.no-js .row-actions, 
.row-actions.visible,
td.column-source:hover .row-actions,
td.has-row-actions:hover .row-actions {
	display:									block;
	position:									relative;
	transform:									scale(1,1);
	max-height:									120px;
	transition:									all 0.4s ease;
}

.dashicons-no-alt::before {
    content: 									"\f460";
}

.dashicons-yes::before {
    content: 									"\f12a";
}

span.dashicons.red {
	color:										#000000 !important;
}

a[data-wp-action="disable"],
.auto-update-time {
	opacity:									0.35;
}

/* Page Meta Box structure */
#poststuff #wds-wds-meta-box {
	display:									none;
}

#poststuff #wds-wds-meta-box {
	display:									block;
}

#poststuff #postbox-container-2 #normal-sortables {
	display: 									flex;
	flex-flow: 									row wrap; 
}

#poststuff #postbox-container-2 #normal-sortables .postbox { 
	width: 										100%;
}

#page-top {
	order: 										1;
}

#page-bottom {
	order: 										2;
}

#wpseo_meta {
	order: 										3;
}

#commentstatusdiv {
	order: 										4;
}

#page-top_text,
#page-bottom_text {
	max-height:									700px;
	resize: 									none;
} 

ul.acf-checkbox-list {
	column-count:								4;
	column-gap: 								2.5em;
}