/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# My Normals

/*--------------------------------------------------------------
# Normalize
--------------------------------------------- */
html { 
	line-height: 								1.15; 
	-webkit-text-size-adjust: 					100%; 
	box-sizing: 								border-box; 
}

body { 
	margin: 									0;
	word-spacing: 							 	0.1em;
}

*, 
*::before, 
*::after { 
	box-sizing: 								inherit; 
}

.clearfix { 
	clear: 										both; 
}
		
/* Render the `main` element consistently in IE. */
main {
	display: 									block;
}

/* Correct the margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari.  */
h1 {
	margin: 									0.67em 0;
}

/* Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr {
	box-sizing: 								content-box;
	height: 									0;
	overflow: 									visible;
}

/* Correct the inheritance and scaling of font size in all browsers. Correct the odd `em` font sizing in all browsers. */
pre {
	font-family: 								monospace, monospace;
	font-size: 									1em;
}

/* Remove the gray background on active links in IE 10. */
a {
	background-color: 							transparent;
	text-underline-position: 					under;
}

/* Remove the bottom border in Chrome 57-. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
	border-bottom: 								none;
	text-decoration: 							underline;
	text-decoration: 							underline dotted;
	text-underline-position: 					under;
}

/* Correct the inheritance and scaling of font size in all browsers. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
	font-family: 								monospace, monospace;
	font-size: 									1em;
}

/* Add the correct font size in all browsers. */
small {
	font-size: 									var(--font-size-small);
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
	font-size: 									var(--font-size-small);
	line-height: 								0;
	position: 									relative;
	vertical-align: 							baseline;
}
sub {
	bottom: 									-0.25em;
}
sup {
	top: 										-0.5em;
}

/* Remove the border on images inside links in IE 10. */
img {
	border-style: 								none;
}

/* Change the font styles in all browsers. Remove the margin in Firefox and Safari. */
a.button,
a.page-numbers,
span.page-numbers,
button,
input,
optgroup,
select,
textarea {
	font-family: 								inherit;
	font-size: 									100%;
	line-height: 								1.15;
	margin: 									0;
}

/* Show the overflow in IE. Show the overflow in Edge. */
a.button,
a.page-numbers,
span.page-numbers,
button,
input {
	overflow: 									visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE. Remove the inheritance of text transform in Firefox. */
button,
select {
	text-transform: 							none;
}

/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: 						button;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: 								none;
	padding: 									0;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 									1px dotted ButtonText;
}

/* Remove arrow buttons on number fields on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: 						none;
  	margin: 									0;
}

/* Remove arrow buttons on number fields on Firefox */
input[type=number] {
  	-moz-appearance: 							textfield;
}


/* Correct the padding in Firefox. */
fieldset {
	padding: 									0.35em 0.75em 0.625em;
}

/* Correct the text wrapping in Edge and IE. Correct the color inheritance from `fieldset` elements in IE. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend {
	box-sizing: 								border-box;
	color: 										inherit;
	display: 									table;
	max-width: 									100%;
	padding: 									0;
	white-space: 								normal;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
	vertical-align: 							baseline;
}

/* Remove the default vertical scrollbar in IE 10+. */
textarea {
	overflow: 									auto;
}

/* Add the correct box sizing in IE 10. Remove the padding in IE 10. */
[type="checkbox"],
[type="radio"] {
	box-sizing: 								border-box;
	padding: 									0;
    margin-right: 								0.5em;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: 									auto;
}

/* Correct the odd appearance in Chrome and Safari. Correct the outline style in Safari. */
[type="search"] {
	-webkit-appearance:							textfield;
	outline-offset: 							-2px;
}

/* Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: 						none;
}

/* Change cursor for input date */
[type="date"] {
	cursor:										pointer;
}

/* Correct the inability to style clickable types in iOS and Safari. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
	-webkit-appearance: 						button;
	font: 										inherit;
}

/*  Add the correct display in Edge, IE 10+, and Firefox. */
details {
	display: 									block;
}

/* Add the correct display in all browsers. */
summary {
	display: 									list-item;
}

/* Add the correct display in IE 10+. */
template {
	display: 									none;
}

/** Add the correct display in IE 10. */
[hidden] {
	display: 									none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only,
.wpcf7 .screen-reader-response {
	position: 									absolute !important;
	width: 										1px;
	height: 									1px;
	margin: 									-1px;
	padding: 									0;
	border: 									0;
	clip: 										rect(1px, 1px, 1px, 1px);
	clip-path: 									inset(50%);
	overflow: 									hidden;
	word-wrap: 									normal !important;
}

.screen-reader-text:focus,
.sr-only:focus {
	background-color: 							var(--white);
	border-radius: 								3px;
	box-shadow: 								0 0 2px 2px var(--black-med);
	clip: 										auto !important;
	clip-path: 									none;
	color: 										var(--dark-grey);
	display: 									block;
	font-size: 									0.875rem;
	font-weight: 								700;
	height: 									auto;
	left: 										5px;
	line-height: 								normal;
	padding: 									15px 23px 14px;
	text-decoration: 							none;
	top: 										5px;
	width: 										auto;
	z-index: 									100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline:									0;
}


*:focus,
*:focus-within {
	outline:									none;
}

body.using-keyboard *.tab-focus,
body.using-keyboard .block-accordion.tab-focus {
	outline:									5px solid var(--warning) !important;
}

body.using-mouse *.tab-focus,
body.using-mouse .block-accordion.tab-focus {
	outline:									2px dotted var(--warning) !important;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: 						-1ms !important;
		animation-deuration: 					-1ms !important;
		animation-iteration-count: 				1 !important;
		background-attachment: 					initial !important;
		scroll-behavior: 						auto !important;
		transition-duration: 					0s !important;
		transition-delay: 						0s !important;
	}
}

b,
strong {
	font-weight: 								bold;
}

dfn,
cite,
em,
i {
	font-style: 								italic;
}

blockquote {
	margin: 									0 var(--measure-base);
}

address {
	margin: 									0 0 var(--measure-base);
}

pre {
	background: 								var(--white);
	font-family: 								"Courier 10 Pitch", courier, monospace;
	line-height: 								1.6;
	margin-bottom: 								1.6em;
	max-width: 									100%;
	overflow: 									auto;
	padding: 									1.6em;
}

code,
kbd,
tt,
var {
	font-family: 								monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 								1px dotted var(--medium-grey);
	cursor: 									help;
}

mark,
ins {
	background: 								var(--light-grey);
	text-decoration: 							none;
}

big {
	font-size: 									var(--font-size-big);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only,
.wpcf7 .screen-reader-response {
	position: 									absolute !important;
	width: 										1px;
	height: 									1px;
	margin: 									-1px;
	padding: 									0;
	border: 									0;
	clip: 										rect(1px, 1px, 1px, 1px);
	clip-path: 									inset(50%);
	overflow: 									hidden;
	word-wrap: 									normal !important;
}

.screen-reader-text:focus,
.sr-only:focus {
	background-color: 							var(--white);
	border-radius: 								3px;
	box-shadow: 								0 0 2px 2px var(--black-med);
	clip: 										auto !important;
	clip-path: 									none;
	color: 										var(--dark-grey);
	display: 									block;
	font-size: 									0.875rem;
	font-weight: 								700;
	height: 									auto;
	left: 										5px;
	line-height: 								normal;
	padding: 									15px 23px 14px;
	text-decoration: 							none;
	top: 										5px;
	width: 										auto;
	z-index: 									100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline:									0;
}

*:focus,
*:focus-within {
	outline:									none;
}

body.using-keyboard *.tab-focus,
body.using-keyboard .block-accordion.tab-focus {
	outline:									5px solid var(--warning) !important;
}

body.using-mouse *.tab-focus,
body.using-mouse .block-accordion.tab-focus {
	outline:									2px dotted var(--warning) !important;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: 						-1ms !important;
		animation-deuration: 					-1ms !important;
		animation-iteration-count: 				1 !important;
		background-attachment: 					initial !important;
		scroll-behavior: 						auto !important;
		transition-duration: 					0s !important;
		transition-delay: 						0s !important;
	}
}

/*--------------------------------------------------------------
# My Normals
--------------------------------------------- */
.fa, 
.fa::before {
	font-size:									inherit;
	line-height:								inherit;
}

.fa.fas {
	font-weight:								900;
}

.fa.far {
	font-weight:								400;
}

.wordSplit,
.charSplit {
	display:									inline-block;
}

#page {
	position:									relative;
	overflow: 									hidden; /* 1/28/22 to keep logo slider or other elements from causing horizontal scroll bars */ 
}

/* Elements
--------------------------------------------- */
body {
	background: 								var(--black);
}

hr {
	background-color: 							var(--light-grey);
	border: 									0;
	height: 									1px;
	margin-bottom: 								var(--measure-base);
}

p,
h1 + .block.block-text,
h2 + .block.block-text,
h3 + .block.block-text {
	margin-top: 								var(--measure-small);	
	margin-bottom: 								var(--measure-base);
}

form p {
	margin-top:									0.5em;
	margin-bottom:								0.5em;
}

form p:last-of-type {
	margin-bottom:								var(--measure-base);
}

ul,
ol {
	margin: 									var(--measure-small) 0 var(--measure-base) 0.75em;
	padding-left:								var(--measure-small);
}

ul > ul,
ul > ol,
ol > ul,
ol > ol {
	margin-top:									0;
}

p.indent {
	padding-left:								var(--measure-small);
}

p.indent-double {
	padding-left:								2em;
}

p:first-child,
ul:first-child,
ol:first-child {
	margin-top:									0;
}

p:last-child,
#wrapper-content img.aligncenter:last-child,
#wrapper-content img.align-center:last-child,
ul:last-child,
ol:not(.carousel-indicators):last-child,
h1 + .block.block-text:last-child,
h2 + .block.block-text:last-child,
h3 + .block.block-text:last-child {
	margin-bottom:								0;
}

ul {
	list-style: 								disc;
}

ol {
	list-style: 								decimal;
}

li:not(.menu-item):not(.carousel-icon):not(:last-child) {
	margin-bottom:								0.3em;
}

li.filter-choice {
	list-style:									none;
}

li.filter-choice div {
	display:									inline-block;
}

li > ul,
li > ol {
	margin-bottom: 								0;
	margin-left: 								var(--measure-base);
}

dt {
	font-weight: 								700;
}

dd {
	margin: 									0 var(--measure-base) var(--measure-base);
}

/* Make sure embeds and iframes fit their containers, and remove small space below. */
embed,
iframe,
object {
	display:									block;
	max-width: 									100%;
	margin:										0 auto;
}

img {
	display:									block;
	max-width: 									100%;
	height: 									auto;
	margin:										0 auto;
}

figure {
	margin: 									var(--measure-small) 0;
}

table {
	margin: 									0 0 var(--measure-base);
	width: 										100%;
}

.two-col,
.two-column {
	column-count:								2;
	column-gap: 								var(--measure-large);
}

.three-col,
.three-column {
	column-count:								3;
	column-gap: 								var(--measure-large);
}

.two-col > *,
.two-column > *,
.three-col > *,
.three-column > * {
	break-inside: 								avoid;
}

.left,
.text-left {
	text-align:									left;
}

.right,
.text-right {
	text-align:									right;
}

.center,
.text-center {
	text-align:									center;
}

.text-small {
	font-size:									var(--font-size-small);
}

.text-big {
	font-size:									var(--font-size-big);
}
